@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My home page</h2>

    <fieldset>
        <legend>Categories</legend>
        <div>
            @Html.ActionLink("My Groups", "Groups", "AdminPanel")
        </div>
        <div>
            @Html.ActionLink("View Events", "Events", "Client")
        </div>
        <div>
            @Html.ActionLink("Edit My Account", "Edit", "User")
        </div>

        <div>
            @Html.ActionLink("LogOut", "Logout", "User")
        </div>
    </fieldset>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
