@model List<Model.Model.ViewGroup>

@{
    ViewBag.Title = "ApplyEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <fieldset>
            <legend>Groups</legend>
            @for (var i = 0; i< Model.Count; i++)
            {
                <div>
                    @Html.CheckBoxFor(model => model[i].Selected)  
                    @Html.HiddenFor(model => model[i].Id)
                    @Html.HiddenFor(model => model[i].Name)
                    @Html.Label(string.Format("{0}({1})", Model[i].Name, Model[i].Description))
                </div>
            }

            <p>
                <input type="submit" value="Apply" />
            </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back", "Events", "Client")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
